body {
    background: grey;
    position: relative;
/*
    transition: background 5s ease;
    background-image: url("weekly_logo.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: bottom right;
*/
    text-align: center;
}

div, .login {
    background-color: rgba(250, 230, 190, 0.5);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #569;
    margin: 10px;
}

.bg  { 
    background: grey;
    padding: 0px;
    border-radius: 0px;
    border: 0px solid #569;
    margin: 0px;
    position: fixed; 
    inset: 0; 
    pointer-events: none;     /* overlay */
    opacity: 0; 
    transition: opacity 5s ease; 
    z-index: 0; 
}
  
.content { 
    position: relative; 
    z-index: 1; 
    padding: 0px;
    border-radius: 0px;
    border: 0px solid #569;
    margin: 0px;
    background-color: rgba(250, 230, 190, 0);
}  

.title {
    font-family: monospace;
    font-size: xx-large;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 10px;
}

.logo {
  position: fixed;      /* stays put when scrolling */
  bottom: 10px;         /* distance from bottom */
  right: 10px;          /* distance from right */
  width: 50%;         /* adjust size */
  /* opacity: 0.2;          optional, make it watermark-like */
  z-index: -1;          /* put behind other elements */
  pointer-events: none; /* so it won't block clicks */
}

.ops {
  position: fixed;
  bottom: 5px;
  pointer-events: none;
  visibility: visible;
  transition: visibility 10s ease; 

}

.profile, .new {
  background-color: rgba(0,0,0,0);
  border: 0px;
  font-size: 1.2em;
}

.floatForm {
  position: fixed;             /* stays on screen */
  top: 50%; left: 50%;         /* anchor point in the middle */
  transform: translate(-50%, -50%); /* pull back by half its size */
  background: #fff;
  padding: 20px;
  border: 2px solid #59c;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  z-index: 1000;               /* stays above page content */
}